In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
# import os
from sklearn.linear_model import LinearRegression
import sklearn as skl
from sklearn import metrics
from sklearn.model_selection import train_test_split
# import statsmodels.api as sm
# from scipy import stats
# pd.set_option('max_columns', None)
# pd.set_option('max_rows', None)

In [2]:
train_df = pd.read_csv('./datasets/train.csv')

In [3]:
train_df.head(1)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500

In [4]:
# Looking for missing values
train_df.isnull().sum()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    330
               ...
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
SalePrice         0
Length: 81, dtype: int64

In [5]:
#function to return unique values for columns, not including columns with more than 100 unique values (ie discrete and continuous)
def columns_values(dataframe):
    for n in dataframe.columns:
        column = n
    #     print(column)
        value_counts = (dataframe[column].value_counts())
        unique_values = (dataframe[column].unique())
        len_counts = len(value_counts)
        len_unique = len(unique_values)
        if (len(value_counts)< 100):
#             if 'np.nan' in unique_values:
#             if len_counts != len(value_counts):
                print(f"{column} has length of {len_unique}")
#                 print(len(unique_values))
                print(unique_values)
                print("="*30)
                print(f"{column} has length of {len_counts}")
#                 print(len(value_counts))
                print(value_counts)
                print("="*60)

In [6]:
#running the function to view unique values
columns_values(train_df)

MS SubClass has length of 16
[ 60  20  50 180 160  70 120 190  85  30  90  80  75  45  40 150]
==============================
MS SubClass has length of 16
20     770
60     394
50     198
120    132
30     101
70      90
160     88
80      86
90      75
190     46
85      28
75      16
45      11
180     11
40       4
150      1
Name: MS SubClass, dtype: int64
============================================================
MS Zoning has length of 7
['RL' 'RM' 'FV' 'C (all)' 'A (agr)' 'RH' 'I (all)']
==============================
MS Zoning has length of 7
RL         1598
RM          316
FV          101
C (all)      19
RH           14
A (agr)       2
I (all)       1
Name: MS Zoning, dtype: int64
============================================================
Street has length of 2
['Pave' 'Grvl']
==============================
Street has length of 2
Pave    2044
Grvl       7
Name: Street, dtype: int64
============================================================
Alley has length of 3
[nan 'Pave' 'Grvl']
==============================
Alley has length of 2
Grvl    85
Pave    55
Name: Alley, dtype: int64
============================================================
Lot Shape has length of 4
['IR1' 'Reg' 'IR2' 'IR3']
==============================
Lot Shape has length of 4
Reg    1295
IR1     692
IR2      55
IR3       9
Name: Lot Shape, dtype: int64
============================================================
Land Contour has length of 4
['Lvl' 'HLS' 'Bnk' 'Low']
==============================
Land Contour has length of 4
Lvl    1843
HLS      85
Bnk      80
Low      43
Name: Land Contour, dtype: int64
============================================================
Utilities has length of 3
['AllPub' 'NoSeWa' 'NoSewr']
==============================
Utilities has length of 3
AllPub    2049
NoSeWa       1
NoSewr       1
Name: Utilities, dtype: int64
============================================================
Lot Config has length of 5
['CulDSac' 'Inside' 'Corner' 'FR2' 'FR3']
==============================
Lot Config has length of 5
Inside     1503
Corner      348
CulDSac     131
FR2          60
FR3           9
Name: Lot Config, dtype: int64
============================================================
Land Slope has length of 3
['Gtl' 'Sev' 'Mod']
==============================
Land Slope has length of 3
Gtl    1953
Mod      88
Sev      10
Name: Land Slope, dtype: int64
============================================================
Neighborhood has length of 28
['Sawyer' 'SawyerW' 'NAmes' 'Timber' 'Edwards' 'OldTown' 'BrDale'
 'CollgCr' 'Somerst' 'Mitchel' 'StoneBr' 'NridgHt' 'Gilbert' 'Crawfor'
 'IDOTRR' 'NWAmes' 'Veenker' 'MeadowV' 'SWISU' 'NoRidge' 'ClearCr'
 'Blmngtn' 'BrkSide' 'NPkVill' 'Blueste' 'GrnHill' 'Greens' 'Landmrk']
==============================
Neighborhood has length of 28
NAmes      310
CollgCr    180
OldTown    163
Edwards    143
Somerst    130
NridgHt    122
Gilbert    116
Sawyer     111
SawyerW     87
NWAmes      87
Mitchel     82
BrkSide     76
Crawfor     71
IDOTRR      69
NoRidge     48
Timber      48
StoneBr     38
SWISU       32
ClearCr     27
MeadowV     24
Blmngtn     22
BrDale      19
NPkVill     17
Veenker     17
Blueste      6
Greens       3
GrnHill      2
Landmrk      1
Name: Neighborhood, dtype: int64
============================================================
Condition 1 has length of 9
['RRAe' 'Norm' 'PosA' 'Artery' 'Feedr' 'PosN' 'RRAn' 'RRNe' 'RRNn']
==============================
Condition 1 has length of 9
Norm      1767
Feedr      109
Artery      70
RRAn        36
PosN        27
RRAe        21
PosA        12
RRNn         6
RRNe         3
Name: Condition 1, dtype: int64
============================================================
Condition 2 has length of 8
['Norm' 'RRNn' 'Feedr' 'Artery' 'PosA' 'PosN' 'RRAe' 'RRAn']
==============================
Condition 2 has length of 8
Norm      2025
Feedr       11
Artery       5
PosA         3
PosN         3
RRNn         2
RRAn         1
RRAe         1
Name: Condition 2, dtype: int64
============================================================
Bldg Type has length of 5
['1Fam' 'TwnhsE' 'Twnhs' '2fmCon' 'Duplex']
==============================
Bldg Type has length of 5
1Fam      1700
TwnhsE     161
Duplex      75
Twnhs       69
2fmCon      46
Name: Bldg Type, dtype: int64
============================================================
House Style has length of 8
['2Story' '1Story' '1.5Fin' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin' '1.5Unf']
==============================
House Style has length of 8
1Story    1059
2Story     598
1.5Fin     218
SLvl        94
SFoyer      50
2.5Unf      14
1.5Unf      12
2.5Fin       6
Name: House Style, dtype: int64
============================================================
Overall Qual has length of 10
[ 6  7  5  8 10  4  9  3  2  1]
==============================
Overall Qual has length of 10
5     563
6     506
7     431
8     250
4     159
9      77
3      29
10     23
2       9
1       4
Name: Overall Qual, dtype: int64
============================================================
Overall Cond has length of 9
[8 5 7 6 3 9 2 4 1]
==============================
Overall Cond has length of 9
5    1168
6     368
7     270
8     101
4      70
3      35
9      29
2       6
1       4
Name: Overall Cond, dtype: int64
============================================================
Year Remod/Add has length of 61
[2005 1997 2007 1993 2002 2006 1959 1952 1969 1971 2000 1950 1963 1977
 2009 1968 1955 1961 1995 1981 1996 2008 1958 1973 1994 1965 1978 1954
 1960 2004 1970 1951 1975 1953 2001 2010 2003 1979 1964 1956 1972 1957
 1992 1962 1998 1990 1967 1985 1987 1988 1976 1984 1999 1966 1980 1989
 1991 1986 1982 1983 1974]
==============================
Year Remod/Add has length of 61
1950    262
2006    139
2007    123
2005    100
2004     83
       ...
1952      9
2010      8
1983      7
1981      6
1982      3
Name: Year Remod/Add, Length: 61, dtype: int64
============================================================
Roof Style has length of 6
['Gable' 'Hip' 'Flat' 'Mansard' 'Shed' 'Gambrel']
==============================
Roof Style has length of 6
Gable      1619
Hip         397
Flat         13
Gambrel      12
Mansard       7
Shed          3
Name: Roof Style, dtype: int64
============================================================
Roof Matl has length of 6
['CompShg' 'WdShngl' 'Tar&Grv' 'WdShake' 'Membran' 'ClyTile']
==============================
Roof Matl has length of 6
CompShg    2025
Tar&Grv      15
WdShngl       5
WdShake       4
Membran       1
ClyTile       1
Name: Roof Matl, dtype: int64
============================================================
Exterior 1st has length of 15
['HdBoard' 'VinylSd' 'Wd Sdng' 'BrkFace' 'Plywood' 'MetalSd' 'AsbShng'
 'CemntBd' 'WdShing' 'Stucco' 'BrkComm' 'Stone' 'CBlock' 'ImStucc'
 'AsphShn']
==============================
Exterior 1st has length of 15
VinylSd    724
MetalSd    331
HdBoard    300
Wd Sdng    276
Plywood    152
CemntBd     90
BrkFace     64
WdShing     45
AsbShng     33
Stucco      27
BrkComm      3
Stone        2
CBlock       2
AsphShn      1
ImStucc      1
Name: Exterior 1st, dtype: int64
============================================================
Exterior 2nd has length of 15
['Plywood' 'VinylSd' 'Wd Sdng' 'HdBoard' 'MetalSd' 'AsbShng' 'CmentBd'
 'Wd Shng' 'BrkFace' 'Stucco' 'Brk Cmn' 'ImStucc' 'Stone' 'CBlock'
 'AsphShn']
==============================
Exterior 2nd has length of 15
VinylSd    721
MetalSd    324
HdBoard    275
Wd Sdng    262
Plywood    185
CmentBd     90
Wd Shng     63
BrkFace     34
Stucco      30
AsbShng     28
Brk Cmn     17
ImStucc     11
Stone        6
AsphShn      3
CBlock       2
Name: Exterior 2nd, dtype: int64
============================================================
Mas Vnr Type has length of 5
['BrkFace' 'None' nan 'Stone' 'BrkCmn']
==============================
Mas Vnr Type has length of 4
None       1218
BrkFace     630
Stone       168
BrkCmn       13
Name: Mas Vnr Type, dtype: int64
============================================================
Exter Qual has length of 4
['Gd' 'TA' 'Ex' 'Fa']
==============================
Exter Qual has length of 4
TA    1247
Gd     697
Ex      81
Fa      26
Name: Exter Qual, dtype: int64
============================================================
Exter Cond has length of 5
['TA' 'Gd' 'Fa' 'Ex' 'Po']
==============================
Exter Cond has length of 5
TA    1778
Gd     215
Fa      49
Ex       7
Po       2
Name: Exter Cond, dtype: int64
============================================================
Foundation has length of 6
['CBlock' 'PConc' 'BrkTil' 'Slab' 'Stone' 'Wood']
==============================
Foundation has length of 6
PConc     926
CBlock    863
BrkTil    221
Slab       34
Stone       5
Wood        2
Name: Foundation, dtype: int64
============================================================
Bsmt Qual has length of 6
['TA' 'Gd' 'Fa' nan 'Ex' 'Po']
==============================
Bsmt Qual has length of 5
TA    887
Gd    864
Ex    184
Fa     60
Po      1
Name: Bsmt Qual, dtype: int64
============================================================
Bsmt Cond has length of 6
['TA' 'Gd' nan 'Fa' 'Po' 'Ex']
==============================
Bsmt Cond has length of 5
TA    1834
Gd      89
Fa      65
Po       5
Ex       3
Name: Bsmt Cond, dtype: int64
============================================================
Bsmt Exposure has length of 5
['No' 'Gd' 'Av' nan 'Mn']
==============================
Bsmt Exposure has length of 4
No    1339
Av     288
Gd     203
Mn     163
Name: Bsmt Exposure, dtype: int64
============================================================
BsmtFin Type 1 has length of 7
['GLQ' 'Unf' 'ALQ' 'Rec' nan 'BLQ' 'LwQ']
==============================
BsmtFin Type 1 has length of 6
GLQ    615
Unf    603
ALQ    293
BLQ    200
Rec    183
LwQ    102
Name: BsmtFin Type 1, dtype: int64
============================================================
BsmtFin Type 2 has length of 7
['Unf' 'Rec' nan 'BLQ' 'GLQ' 'LwQ' 'ALQ']
==============================
BsmtFin Type 2 has length of 6
Unf    1749
Rec      80
LwQ      60
BLQ      48
ALQ      35
GLQ      23
Name: BsmtFin Type 2, dtype: int64
============================================================
Heating has length of 5
['GasA' 'GasW' 'Grav' 'Wall' 'OthW']
==============================
Heating has length of 5
GasA    2018
GasW      20
Wall       6
Grav       5
OthW       2
Name: Heating, dtype: int64
============================================================
Heating QC has length of 5
['Ex' 'TA' 'Gd' 'Fa' 'Po']
==============================
Heating QC has length of 5
Ex    1065
TA     597
Gd     319
Fa      67
Po       3
Name: Heating QC, dtype: int64
============================================================
Central Air has length of 2
['Y' 'N']
==============================
Central Air has length of 2
Y    1910
N     141
Name: Central Air, dtype: int64
============================================================
Electrical has length of 5
['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix']
==============================
Electrical has length of 5
SBrkr    1868
FuseA     140
FuseF      35
FuseP       7
Mix         1
Name: Electrical, dtype: int64
============================================================
Low Qual Fin SF has length of 31
[   0  205   80  528  513  371  473  108 1064  515  120  312  572  234
  390  697  114  512  144  514  397  140  479  259  436  156  384  360
   53  362  450]
==============================
Low Qual Fin SF has length of 31
0       2018
80         3
205        2
436        1
108        1
114        1
120        1
140        1
144        1
156        1
234        1
312        1
360        1
362        1
384        1
390        1
697        1
515        1
512        1
514        1
528        1
572        1
1064       1
53         1
259        1
371        1
397        1
473        1
479        1
513        1
450        1
Name: Low Qual Fin SF, dtype: int64
============================================================
Bsmt Full Bath has length of 5
[ 0.  1.  2. nan  3.]
==============================
Bsmt Full Bath has length of 4

0.0    1200
1.0     824
2.0      23
3.0       2
Name: Bsmt Full Bath, dtype: int64
============================================================
Bsmt Half Bath has length of 4
[ 0.  1. nan  2.]
==============================
Bsmt Half Bath has length of 3
0.0    1923
1.0     122
2.0       4
Name: Bsmt Half Bath, dtype: int64
============================================================
Full Bath has length of 5
[2 1 3 0 4]
==============================
Full Bath has length of 5
2    1096
1     900
3      45
0       8
4       2
Name: Full Bath, dtype: int64
============================================================
Half Bath has length of 3
[1 0 2]
==============================
Half Bath has length of 3
0    1308
1     725
2      18
Name: Half Bath, dtype: int64
============================================================
Bedroom AbvGr has length of 8
[3 4 2 5 1 0 6 8]
==============================
Bedroom AbvGr has length of 8
3    1108
2     544
4     265
1      75
5      41
6      12
0       5
8       1
Name: Bedroom AbvGr, dtype: int64
============================================================
Kitchen AbvGr has length of 4
[1 2 0 3]
==============================
Kitchen AbvGr has length of 4
1    1960
2      88
0       2
3       1
Name: Kitchen AbvGr, dtype: int64
============================================================
Kitchen Qual has length of 4
['Gd' 'TA' 'Fa' 'Ex']
==============================
Kitchen Qual has length of 4
TA    1047
Gd     806
Ex     151
Fa      47
Name: Kitchen Qual, dtype: int64
============================================================
TotRms AbvGrd has length of 14
[ 6  8  5  7  9  4 12 11 10  3 14  2 13 15]
==============================
TotRms AbvGrd has length of 14
6     597
7     475
5     407
8     228
4     146
9      98
10     49
11     22
12     13
3      12
15      1
13      1
14      1
2       1
Name: TotRms AbvGrd, dtype: int64
============================================================
Functional has length of 8
['Typ' 'Mod' 'Min2' 'Maj1' 'Min1' 'Sev' 'Sal' 'Maj2']
==============================
Functional has length of 8
Typ     1915
Min2      42
Min1      42
Mod       29
Maj1      12
Maj2       7
Sev        2
Sal        2
Name: Functional, dtype: int64
============================================================
Fireplaces has length of 5
[0 1 2 4 3]
==============================
Fireplaces has length of 5
0    1000
1     898
2     146
3       6
4       1
Name: Fireplaces, dtype: int64
============================================================
Fireplace Qu has length of 6
[nan 'TA' 'Gd' 'Po' 'Ex' 'Fa']
==============================
Fireplace Qu has length of 5
Gd    523
TA    407
Fa     59
Ex     31
Po     31
Name: Fireplace Qu, dtype: int64
============================================================
Garage Type has length of 7
['Attchd' 'Detchd' 'BuiltIn' 'Basment' nan '2Types' 'CarPort']
==============================
Garage Type has length of 6
Attchd     1213
Detchd      536
BuiltIn     132
Basment      27
2Types       19
CarPort      11
Name: Garage Type, dtype: int64
============================================================
Garage Finish has length of 4
['RFn' 'Unf' 'Fin' nan]
==============================
Garage Finish has length of 3
Unf    849
RFn    579
Fin    509
Name: Garage Finish, dtype: int64
============================================================
Garage Cars has length of 7
[ 2.  1.  3.  0.  4.  5. nan]
==============================
Garage Cars has length of 6
2.0    1136
1.0     524
3.0     263
0.0     113
4.0      13
5.0       1
Name: Garage Cars, dtype: int64
============================================================
Garage Qual has length of 6
['TA' 'Fa' nan 'Gd' 'Ex' 'Po']
==============================
Garage Qual has length of 5
TA    1832
Fa      82
Gd      18
Ex       3
Po       2
Name: Garage Qual, dtype: int64
============================================================
Garage Cond has length of 6
['TA' 'Fa' nan 'Po' 'Gd' 'Ex']
==============================
Garage Cond has length of 5
TA    1868
Fa      47
Gd      12
Po       8
Ex       2
Name: Garage Cond, dtype: int64
============================================================
Paved Drive has length of 3
['Y' 'N' 'P']
==============================
Paved Drive has length of 3
Y    1861
N     151
P      39
Name: Paved Drive, dtype: int64
============================================================
3Ssn Porch has length of 22
[  0 176 224 162 168 120 407 144 150 255 508 180 140  96 323 153  86 216
 245 182 290 304]
==============================
3Ssn Porch has length of 22
0      2025
153       3
168       3
144       2
176       1
86        1
96        1
120       1
140       1
150       1
162       1
407       1
323       1
182       1
216       1
224       1
290       1
304       1
508       1
245       1
255       1
180       1
Name: 3Ssn Porch, dtype: int64
============================================================
Pool Area has length of 10
[  0 519 576 800 228 480 648 738 368 561]
==============================
Pool Area has length of 10
0      2042
561       1
519       1
800       1
738       1
648       1
576       1
480       1
368       1
228       1
Name: Pool Area, dtype: int64
============================================================
Pool QC has length of 5
[nan 'Fa' 'Gd' 'Ex' 'TA']
==============================
Pool QC has length of 4
Gd    4
Fa    2
TA    2
Ex    1
Name: Pool QC, dtype: int64
============================================================
Fence has length of 5
[nan 'MnPrv' 'GdPrv' 'GdWo' 'MnWw']
==============================
Fence has length of 4
MnPrv    227
GdPrv     83
GdWo      80
MnWw      10
Name: Fence, dtype: int64
============================================================
Misc Feature has length of 6
[nan 'Shed' 'TenC' 'Gar2' 'Othr' 'Elev']
==============================
Misc Feature has length of 5
Shed    56
Gar2     4
Othr     3
TenC     1
Elev     1
Name: Misc Feature, dtype: int64
============================================================
Misc Val has length of 28
[    0   400   500  2000   650   600  1200   480   700   450  3000 12500
  4500   460  3500  8300   455   300  1150   900    54  6500   800  1500
  2500  1300 17000    80]
==============================
Misc Val has length of 28
0        1986
400        12
500         8
600         6
2000        5
450         5
700         4
2500        2
4500        2
3000        2
1200        2
80          1
8300        1
12500       1
460         1
300         1
54          1
3500        1
480         1
650         1
800         1
900         1
1150        1
1300        1
1500        1
6500        1
455         1
17000       1
Name: Misc Val, dtype: int64
============================================================
Mo Sold has length of 12
[ 3  4  1  6  5  9  7  2 12 10 11  8]
==============================
Mo Sold has length of 12
6     352
7     303
5     257
4     208
3     168
8     167
10    123
9     109
2     104
11    103
1      79
12     78
Name: Mo Sold, dtype: int64
============================================================
Yr Sold has length of 5
[2010 2009 2006 2007 2008]
==============================
Yr Sold has length of 5
2007    498
2009    446
2006    438
2008    435
2010    234
Name: Yr Sold, dtype: int64
============================================================
Sale Type has length of 9
['WD ' 'New' 'COD' 'ConLD' 'Con' 'CWD' 'Oth' 'ConLI' 'ConLw']
==============================
Sale Type has length of 9
WD       1781
New       160
COD        63
ConLD      17
CWD        10
ConLI       7
ConLw       5
Con         4
Oth         4
Name: Sale Type, dtype: int64
============================================================

In [7]:
#building dictionaries to replace values
replace_values = {'Reg': 4, 'IR1': 3, 'IR2': 2, 'IR3': 1, 
     'AllPub': 4, 'NoSewr': 3, 'NoSeWa': 2, 'ELO': 1,
     'Gtl': 3, 'Mod': 2, 'Sev': 1,
     'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1,
     'Gd': 4, 'Av': 3, 'Mn': 2, 'No':1,
     'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1,
     'N': 0, 'Y': 1,
     'SBrkr': 5, 'FuseA': 4, 'FuseF': 3, 'FuseP': 2, 'Mix': 1,
     'Typ': 8, 'Min1': 7, 'Min2': 6, 'Mod': 5, 'Maj1': 4, 'Maj2': 3, 'Sev': 2, 'Sal': 1,
     'Fin': 3, 'RFn': 2, 'Unf': 1,
     'Y': 3, 'P': 2, 'N': 1,
     'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'NA' : 0
     }
# train_df = train_df.replace(replace_values)
replace_values_na = {np.nan: "NA"}
replace_values_nan = {np.nan: 0}

In [8]:
# using the dictionaries to replace values
train_df['Bsmt Qual'] = train_df['Bsmt Qual'].replace(replace_values_nan)
train_df['Bsmt Cond'] = train_df['Bsmt Cond'].replace(replace_values_nan)
train_df['Bsmt Exposure'] = train_df['Bsmt Exposure'].replace(replace_values_nan)
train_df['BsmtFin Type 1'] = train_df['BsmtFin Type 1'].replace(replace_values_nan)
train_df['BsmtFin Type 2'] = train_df['BsmtFin Type 2'].replace(replace_values_nan)
train_df['Bsmt Full Bath'] = train_df['Bsmt Full Bath'].replace(replace_values_nan)
train_df['Bsmt Half Bath'] = train_df['Bsmt Half Bath'].replace(replace_values_nan)
train_df['Fireplace Qu'] = train_df['Fireplace Qu'].replace(replace_values_nan)
train_df['Garage Finish'] = train_df['Garage Finish'].replace(replace_values_nan)
train_df['Garage Qual'] = train_df['Garage Qual'].replace(replace_values_nan)
train_df['Garage Cond'] = train_df['Garage Cond'].replace(replace_values_nan)
train_df['Fireplace Qu'] = train_df['Fireplace Qu'].replace(replace_values_nan)
train_df['Garage Cars'] = train_df['Garage Cars'].replace(replace_values_nan)
train_df['Garage Area'] = train_df['Garage Area'].replace(replace_values_nan)
train_df['Pool QC'] = train_df['Pool QC'].replace(replace_values_nan)
train_df['Fence'] = train_df['Fence'].replace(replace_values_nan)
train_df['Lot Frontage'] = train_df['Lot Frontage'].replace(replace_values_nan)
train_df['Alley'] = train_df['Alley'].replace(replace_values_na)
train_df['Mas Vnr Type'] = train_df['Mas Vnr Type'].replace(replace_values_na)
train_df['Mas Vnr Area'] = train_df['Mas Vnr Area'].replace(replace_values_nan)
train_df['Mas Vnr Area'] = train_df['Mas Vnr Area'].replace(replace_values_nan)
train_df['BsmtFin SF 1'] = train_df['BsmtFin SF 1'].replace(replace_values_nan)
train_df['BsmtFin SF 2'] = train_df['BsmtFin SF 2'].replace(replace_values_nan)
train_df['Bsmt Unf SF'] = train_df['Bsmt Unf SF'].replace(replace_values_nan)
train_df['Total Bsmt SF'] = train_df['Total Bsmt SF'].replace(replace_values_nan)
train_df['Garage Type'] = train_df['Garage Type'].replace(replace_values_na)
train_df['Garage Yr Blt'] = train_df['Garage Yr Blt'].replace({np.nan: 1980})
train_df['Misc Feature'] = train_df['Misc Feature'].replace(replace_values_na)
train_df = train_df.replace(replace_values)

In [ ]:
train_df.columns = train_df.columns.str.lower().str.replace(' ', '_')

In [10]:
#running function to review unique values again
columns_values(train_df)

ms_subclass has length of 16
[ 60  20  50 180 160  70 120 190  85  30  90  80  75  45  40 150]
==============================
ms_subclass has length of 16
20     770
60     394
50     198
120    132
30     101
70      90
160     88
80      86
90      75
190     46
85      28
75      16
45      11
180     11
40       4
150      1
Name: ms_subclass, dtype: int64
============================================================
ms_zoning has length of 7
['RL' 'RM' 'FV' 'C (all)' 'A (agr)' 'RH' 'I (all)']
==============================
ms_zoning has length of 7
RL         1598
RM          316
FV          101
C (all)      19
RH           14
A (agr)       2
I (all)       1
Name: ms_zoning, dtype: int64
============================================================
street has length of 2
['Pave' 'Grvl']
==============================
street has length of 2
Pave    2044
Grvl       7
Name: street, dtype: int64
============================================================
alley has length of 3
[0 'Pave' 'Grvl']
==============================
alley has length of 3
0       1911
Grvl      85
Pave      55
Name: alley, dtype: int64
============================================================
lot_shape has length of 4
[3 4 2 1]
==============================
lot_shape has length of 4
4    1295
3     692
2      55
1       9
Name: lot_shape, dtype: int64
============================================================
land_contour has length of 4
['Lvl' 'HLS' 'Bnk' 'Low']
==============================
land_contour has length of 4
Lvl    1843
HLS      85
Bnk      80
Low      43
Name: land_contour, dtype: int64
============================================================
utilities has length of 3
[4 2 3]
==============================
utilities has length of 3
4    2049
3       1
2       1
Name: utilities, dtype: int64
============================================================
lot_config has length of 5
['CulDSac' 'Inside' 'Corner' 'FR2' 'FR3']
==============================
lot_config has length of 5
Inside     1503
Corner      348
CulDSac     131
FR2          60
FR3           9
Name: lot_config, dtype: int64
============================================================
land_slope has length of 3
[3 2 5]
==============================
land_slope has length of 3
3    1953
5      88
2      10
Name: land_slope, dtype: int64
============================================================
neighborhood has length of 28
['Sawyer' 'SawyerW' 'NAmes' 'Timber' 'Edwards' 'OldTown' 'BrDale'
 'CollgCr' 'Somerst' 'Mitchel' 'StoneBr' 'NridgHt' 'Gilbert' 'Crawfor'
 'IDOTRR' 'NWAmes' 'Veenker' 'MeadowV' 'SWISU' 'NoRidge' 'ClearCr'
 'Blmngtn' 'BrkSide' 'NPkVill' 'Blueste' 'GrnHill' 'Greens' 'Landmrk']
==============================
neighborhood has length of 28
NAmes      310
CollgCr    180
OldTown    163
Edwards    143
Somerst    130
NridgHt    122
Gilbert    116
Sawyer     111
SawyerW     87
NWAmes      87
Mitchel     82
BrkSide     76
Crawfor     71
IDOTRR      69
NoRidge     48
Timber      48
StoneBr     38
SWISU       32
ClearCr     27
MeadowV     24
Blmngtn     22
BrDale      19
NPkVill     17
Veenker     17
Blueste      6
Greens       3
GrnHill      2
Landmrk      1
Name: neighborhood, dtype: int64
============================================================
condition_1 has length of 9
['RRAe' 'Norm' 'PosA' 'Artery' 'Feedr' 'PosN' 'RRAn' 'RRNe' 'RRNn']
==============================
condition_1 has length of 9
Norm      1767
Feedr      109
Artery      70
RRAn        36
PosN        27
RRAe        21
PosA        12
RRNn         6
RRNe         3
Name: condition_1, dtype: int64
============================================================
condition_2 has length of 8
['Norm' 'RRNn' 'Feedr' 'Artery' 'PosA' 'PosN' 'RRAe' 'RRAn']
==============================
condition_2 has length of 8
Norm      2025
Feedr       11
Artery       5
PosA         3
PosN         3
RRNn         2
RRAn         1
RRAe         1
Name: condition_2, dtype: int64
============================================================
bldg_type has length of 5
['1Fam' 'TwnhsE' 'Twnhs' '2fmCon' 'Duplex']
==============================
bldg_type has length of 5
1Fam      1700
TwnhsE     161
Duplex      75
Twnhs       69
2fmCon      46
Name: bldg_type, dtype: int64
============================================================
house_style has length of 8
['2Story' '1Story' '1.5Fin' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin' '1.5Unf']
==============================
house_style has length of 8
1Story    1059
2Story     598
1.5Fin     218
SLvl        94
SFoyer      50
2.5Unf      14
1.5Unf      12
2.5Fin       6
Name: house_style, dtype: int64
============================================================
overall_qual has length of 10
[ 6  7  5  8 10  4  9  3  2  1]
==============================
overall_qual has length of 10
5     563
6     506
7     431
8     250
4     159
9      77
3      29
10     23
2       9
1       4
Name: overall_qual, dtype: int64
============================================================
overall_cond has length of 9
[8 5 7 6 3 9 2 4 1]
==============================
overall_cond has length of 9
5    1168
6     368
7     270
8     101
4      70
3      35
9      29
2       6
1       4
Name: overall_cond, dtype: int64
============================================================
year_remod/add has length of 61
[2005 1997 2007 1993 2002 2006 1959 1952 1969 1971 2000 1950 1963 1977
 2009 1968 1955 1961 1995 1981 1996 2008 1958 1973 1994 1965 1978 1954
 1960 2004 1970 1951 1975 1953 2001 2010 2003 1979 1964 1956 1972 1957
 1992 1962 1998 1990 1967 1985 1987 1988 1976 1984 1999 1966 1980 1989
 1991 1986 1982 1983 1974]
==============================
year_remod/add has length of 61
1950    262
2006    139
2007    123
2005    100
2004     83
       ...
1952      9
2010      8
1983      7
1981      6
1982      3
Name: year_remod/add, Length: 61, dtype: int64
============================================================
roof_style has length of 6
['Gable' 'Hip' 'Flat' 'Mansard' 'Shed' 'Gambrel']
==============================
roof_style has length of 6
Gable      1619
Hip         397
Flat         13
Gambrel      12
Mansard       7
Shed          3
Name: roof_style, dtype: int64
============================================================
roof_matl has length of 6
['CompShg' 'WdShngl' 'Tar&Grv' 'WdShake' 'Membran' 'ClyTile']
==============================
roof_matl has length of 6
CompShg    2025
Tar&Grv      15
WdShngl       5
WdShake       4
Membran       1
ClyTile       1
Name: roof_matl, dtype: int64
============================================================
exterior_1st has length of 15
['HdBoard' 'VinylSd' 'Wd Sdng' 'BrkFace' 'Plywood' 'MetalSd' 'AsbShng'
 'CemntBd' 'WdShing' 'Stucco' 'BrkComm' 'Stone' 'CBlock' 'ImStucc'
 'AsphShn']
==============================
exterior_1st has length of 15
VinylSd    724
MetalSd    331
HdBoard    300
Wd Sdng    276
Plywood    152
CemntBd     90
BrkFace     64
WdShing     45
AsbShng     33
Stucco      27
BrkComm      3
Stone        2
CBlock       2
AsphShn      1
ImStucc      1
Name: exterior_1st, dtype: int64
============================================================
exterior_2nd has length of 15
['Plywood' 'VinylSd' 'Wd Sdng' 'HdBoard' 'MetalSd' 'AsbShng' 'CmentBd'
 'Wd Shng' 'BrkFace' 'Stucco' 'Brk Cmn' 'ImStucc' 'Stone' 'CBlock'
 'AsphShn']
==============================
exterior_2nd has length of 15
VinylSd    721
MetalSd    324
HdBoard    275
Wd Sdng    262
Plywood    185
CmentBd     90
Wd Shng     63
BrkFace     34
Stucco      30
AsbShng     28
Brk Cmn     17
ImStucc     11
Stone        6
AsphShn      3
CBlock       2
Name: exterior_2nd, dtype: int64
============================================================
mas_vnr_type has length of 5
['BrkFace' 'None' 0 'Stone' 'BrkCmn']
==============================
mas_vnr_type has length of 5
None       1218
BrkFace     630
Stone       168
0            22
BrkCmn       13
Name: mas_vnr_type, dtype: int64
============================================================
exter_qual has length of 4
[4 3 5 2]
==============================
exter_qual has length of 4
3    1247
4     697
5      81
2      26
Name: exter_qual, dtype: int64
============================================================
exter_cond has length of 5
[3 4 2 5 1]
==============================
exter_cond has length of 5
3    1778
4     215
2      49
5       7
1       2
Name: exter_cond, dtype: int64
============================================================
foundation has length of 6
['CBlock' 'PConc' 'BrkTil' 'Slab' 'Stone' 'Wood']
==============================
foundation has length of 6
PConc     926
CBlock    863
BrkTil    221
Slab       34
Stone       5
Wood        2
Name: foundation, dtype: int64
============================================================
bsmt_qual has length of 6
[3 4 2 0 5 1]
==============================
bsmt_qual has length of 6
3    887
4    864
5    184
2     60
0     55
1      1
Name: bsmt_qual, dtype: int64
============================================================
bsmt_cond has length of 6
[3 4 0 2 1 5]
==============================
bsmt_cond has length of 6
3    1834
4      89
2      65
0      55
1       5
5       3
Name: bsmt_cond, dtype: int64
============================================================
bsmt_exposure has length of 5
[1 4 3 0 2]
==============================
bsmt_exposure has length of 5
1    1339
3     288
4     203
2     163
0      58
Name: bsmt_exposure, dtype: int64
============================================================
bsmtfin_type_1 has length of 7
[6 1 5 3 0 4 2]
==============================
bsmtfin_type_1 has length of 7
6    615
1    603
5    293
4    200
3    183
2    102
0     55
Name: bsmtfin_type_1, dtype: int64
============================================================
bsmtfin_type_2 has length of 7
[1 3 0 4 6 2 5]
==============================
bsmtfin_type_2 has length of 7
1    1749
3      80
2      60
0      56
4      48
5      35
6      23
Name: bsmtfin_type_2, dtype: int64
============================================================
heating has length of 5
['GasA' 'GasW' 'Grav' 'Wall' 'OthW']
==============================
heating has length of 5
GasA    2018
GasW      20
Wall       6
Grav       5
OthW       2
Name: heating, dtype: int64
============================================================
heating_qc has length of 5
[5 3 4 2 1]
==============================
heating_qc has length of 5
5    1065
3     597
4     319
2      67
1       3
Name: heating_qc, dtype: int64
============================================================
central_air has length of 2
[3 1]
==============================
central_air has length of 2
3    1910
1     141
Name: central_air, dtype: int64
============================================================
electrical has length of 5
[5 3 4 2 1]
==============================
electrical has length of 5
5    1868
4     140
3      35
2       7
1       1
Name: electrical, dtype: int64
============================================================
low_qual_fin_sf has length of 31
[   0  205   80  528  513  371  473  108 1064  515  120  312  572  234
  390  697  114  512  144  514  397  140  479  259  436  156  384  360
   53  362  450]
==============================
low_qual_fin_sf has length of 31
0       2018
80         3
205        2
436        1
108        1
114        1
120        1
140        1
144        1
156        1
234        1
312        1
360        1
362        1
384        1
390        1
697        1
515        1
512        1
514        1
528        1
572        1
1064       1
53         1
259        1
371        1
397        1
473        1
479        1
513        1
450        1
Name: low_qual_fin_sf, dtype: int64
============================================================
bsmt_full_bath has length of 4
[0. 1. 2. 3.]
==============================
bsmt_full_bath has length of 4
0.0    1202
1.0     824
2.0      23
3.0       2
Name: bsmt_full_bath, dtype: int64
============================================================
bsmt_half_bath has length of 3
[0. 1. 2.]
==============================
bsmt_half_bath has length of 3
0.0    1925
1.0     122
2.0       4
Name: bsmt_half_bath, dtype: int64
============================================================
full_bath has length of 5
[2 1 3 0 4]
==============================
full_bath has length of 5
2    1096
1     900
3      45
0       8
4       2
Name: full_bath, dtype: int64
============================================================
half_bath has length of 3
[1 0 2]
==============================
half_bath has length of 3
0    1308
1     725
2      18
Name: half_bath, dtype: int64
============================================================
bedroom_abvgr has length of 8
[3 4 2 5 1 0 6 8]
==============================
bedroom_abvgr has length of 8
3    1108
2     544
4     265
1      75
5      41
6      12
0       5
8       1
Name: bedroom_abvgr, dtype: int64
============================================================
kitchen_abvgr has length of 4
[1 2 0 3]
==============================
kitchen_abvgr has length of 4
1    1960
2      88
0       2
3       1
Name: kitchen_abvgr, dtype: int64
============================================================
kitchen_qual has length of 4
[4 3 2 5]
==============================
kitchen_qual has length of 4
3    1047
4     806
5     151
2      47
Name: kitchen_qual, dtype: int64
============================================================
totrms_abvgrd has length of 14
[ 6  8  5  7  9  4 12 11 10  3 14  2 13 15]
==============================
totrms_abvgrd has length of 14
6     597
7     475
5     407
8     228
4     146
9      98
10     49
11     22
12     13
3      12
15      1
13      1
14      1
2       1
Name: totrms_abvgrd, dtype: int64
============================================================
functional has length of 8
[8 5 6 4 7 2 1 3]
==============================
functional has length of 8
8    1915
7      42
6      42
5      29
4      12
3       7
1       2
2       2
Name: functional, dtype: int64
============================================================
fireplaces has length of 5
[0 1 2 4 3]
==============================
fireplaces has length of 5
0    1000
1     898
2     146
3       6
4       1
Name: fireplaces, dtype: int64
============================================================
fireplace_qu has length of 6
[0 3 4 1 5 2]
==============================
fireplace_qu has length of 6
0    1000
4     523
3     407
2      59
5      31
1      31
Name: fireplace_qu, dtype: int64
============================================================
garage_type has length of 7
['Attchd' 'Detchd' 'BuiltIn' 'Basment' 0 '2Types' 'CarPort']
==============================
garage_type has length of 7
Attchd     1213
Detchd      536
BuiltIn     132
0           113
Basment      27
2Types       19
CarPort      11
Name: garage_type, dtype: int64
============================================================
garage_finish has length of 4
[2 1 3 0]
==============================
garage_finish has length of 4
1    849
2    579
3    509
0    114
Name: garage_finish, dtype: int64
============================================================
garage_cars has length of 6
[2. 1. 3. 0. 4. 5.]
==============================
garage_cars has length of 6
2.0    1136
1.0     524
3.0     263
0.0     114
4.0      13
5.0       1
Name: garage_cars, dtype: int64
============================================================
garage_qual has length of 6
[3 2 0 4 5 1]
==============================
garage_qual has length of 6
3    1832
0     114
2      82
4      18
5       3
1       2
Name: garage_qual, dtype: int64
============================================================
garage_cond has length of 6
[3 2 0 1 4 5]
==============================
garage_cond has length of 6
3    1868
0     114
2      47
4      12
1       8
5       2
Name: garage_cond, dtype: int64
============================================================
paved_drive has length of 3
[3 1 2]
==============================
paved_drive has length of 3
3    1861
1     151
2      39
Name: paved_drive, dtype: int64
============================================================
3ssn_porch has length of 22
[  0 176 224 162 168 120 407 144 150 255 508 180 140  96 323 153  86 216
 245 182 290 304]
==============================
3ssn_porch has length of 22
0      2025
153       3
168       3
144       2
176       1
86        1
96        1
120       1
140       1
150       1
162       1
407       1
323       1
182       1
216       1
224       1
290       1
304       1
508       1
245       1
255       1
180       1
Name: 3ssn_porch, dtype: int64
============================================================
pool_area has length of 10
[  0 519 576 800 228 480 648 738 368 561]
==============================
pool_area has length of 10
0      2042
561       1
519       1
800       1
738       1
648       1
576       1
480       1
368       1
228       1
Name: pool_area, dtype: int64
============================================================
pool_qc has length of 5
[0 2 4 5 3]
==============================
pool_qc has length of 5
0    2042
4       4
3       2
2       2
5       1
Name: pool_qc, dtype: int64
============================================================
fence has length of 5
[0 3 4 2 1]
==============================
fence has length of 5
0    1651
3     227
4      83
2      80
1      10
Name: fence, dtype: int64
============================================================
misc_feature has length of 6
[0 'Shed' 'TenC' 'Gar2' 'Othr' 'Elev']
==============================
misc_feature has length of 6
0       1986
Shed      56
Gar2       4
Othr       3
TenC       1
Elev       1
Name: misc_feature, dtype: int64
============================================================
misc_val has length of 28
[    0   400   500  2000   650   600  1200   480   700   450  3000 12500
  4500   460  3500  8300   455   300  1150   900    54  6500   800  1500
  2500  1300 17000    80]
==============================
misc_val has length of 28
0        1986
400        12
500         8
600         6
2000        5
450         5
700         4
2500        2
4500        2
3000        2
1200        2
80          1
8300        1
12500       1
460         1
300         1
54          1
3500        1
480         1
650         1
800         1
900         1
1150        1
1300        1
1500        1
6500        1
455         1
17000       1
Name: misc_val, dtype: int64
============================================================

mo_sold has length of 12
[ 3  4  1  6  5  9  7  2 12 10 11  8]
==============================
mo_sold has length of 12
6     352
7     303
5     257
4     208
3     168
8     167
10    123
9     109
2     104
11    103
1      79
12     78
Name: mo_sold, dtype: int64
============================================================
yr_sold has length of 5
[2010 2009 2006 2007 2008]
==============================
yr_sold has length of 5
2007    498
2009    446
2006    438
2008    435
2010    234
Name: yr_sold, dtype: int64
============================================================
sale_type has length of 9
['WD ' 'New' 'COD' 'ConLD' 'Con' 'CWD' 'Oth' 'ConLI' 'ConLw']
==============================
sale_type has length of 9
WD       1781
New       160
COD        63
ConLD      17
CWD        10
ConLI       7
ConLw       5
Con         4
Oth         4
Name: sale_type, dtype: int64
============================================================

In [11]:
# checking to make sure that missing values are corrected
train_df.isnull().sum()

id              0
pid             0
ms_subclass     0
ms_zoning       0
lot_frontage    0
               ..
misc_val        0
mo_sold         0
yr_sold         0
sale_type       0
saleprice       0
Length: 81, dtype: int64

In [12]:
train_df.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,0.0,13517,Pave,0,3,Lvl,...,0,0,0,0,0,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,0,3,Lvl,...,0,0,0,0,0,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,0,4,Lvl,...,0,0,0,0,0,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,0,4,Lvl,...,0,0,0,0,0,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,0,3,Lvl,...,0,0,0,0,0,0,3,2010,WD,138500

In [23]:
for column in train_df:
    print(type(train_df[column]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [13]:
from sklearn.preprocessing import PolynomialFeatures

In [15]:
X = train_df.drop('saleprice', axis=1)
y = train_df['saleprice']

poly = PolynomialFeatures(degree=2, interaction_only=False, include_bias=False)
X_overfit = poly.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(
    X_overfit,
    y,
    random_state=42)
sc = StandardScaler()
Z_train = sc.fit_transform(X_train)
Z_test = sc.transform(X_test)

ValueError: could not convert string to float: 'RL'

In [ ]:
# setting up my correlation check for saleprice
corr = train_df.corr()
saleprice_corr = corr['SalePrice']
saleprice_corr > .5

In [ ]:
drop_features = []
features = []
for index, column in saleprice_corr.items():
    if column < .5:
        drop_features.append(index)
    else:
        features.append(index)

In [ ]:
for column in train_df.columns:
    if column in drop_features:
        train_df.drop([column], axis=1, inplace=True)

In [ ]:
train_df.dtypes

In [ ]:
for column in train_df:
    print(column)

In [ ]:
def create_plots(dataframe, column1):
    for column in dataframe:
        try:
            fig, ax = plt.subplots(figsize=(10,6))
            plt.scatter(train_df[column1], train_df[column])
            plt.title(column, fontsize=25)
            plt.xlabel(column1)
            plt.ylabel(column)
            plt.show();
        except:
            continue

In [ ]:
def create_plot(dataframe, column1, column2):
    fig, ax = plt.subplots(figsize=(10,6))
    plt.scatter(train_df[column1], train_df[column2])
    plt.title(column2, fontsize=25)
    plt.xlabel(column1)
    plt.ylabel(column2)
    plt.show();

In [24]:
train_df.dtypes

id                int64
pid               int64
ms_subclass       int64
ms_zoning        object
lot_frontage    float64
                 ...
misc_val          int64
mo_sold           int64
yr_sold           int64
sale_type        object
saleprice         int64
Length: 81, dtype: object

In [ ]:
# create_plots(train_df, 'SalePrice')

In [ ]:
train_df = train_df[(train_df['Gr Liv Area'] < 4000)]

In [ ]:
train_df.corr()['SalePrice']

In [ ]:
train_df['Exter Qual and Gr Liv Area'] = train_df['Exter Qual'] * train_df['Gr Liv Area']

In [ ]:
train_df.corr()['SalePrice']

In [ ]:
train_df.shape

In [ ]:
features = ['Overall Qual', 'Year Built', 'Mas Vnr Area', 'Exter Qual', 'Total Bsmt SF', '1st Flr SF', 'Gr Liv Area', 'TotRms AbvGrd', 'Fireplace Qu', 'Garage Area', 'Exter Qual and Gr Liv Area']
X = train_df[features]
y = train_df['SalePrice']

In [ ]:
len(features)

In [ ]:
len(X)

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42,)
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.intercept_
lr.coef_
y_preds = lr.predict(X)
resids = y - y_preds
print(lr.score(X_train, y_train))
print(lr.score(X_test, y_test))

In [ ]:
def return_reg_metrics(X, y, k):
    lr = LinearRegression()
    lr.fit(X_train, y_train)
    lr.coef_
    lr.intercept_
    preds = lr.predict(X)
    resids = y - preds
    sse = (resids**2).sum()
    null_pred = y.mean()
    null_resids = y - null_pred
    null_sse = (null_resids**2).sum()  
    print("The SSE = " + str((resids**2).sum()))
    print("The MSE = " + str(metrics.mean_squared_error(y, preds)))
    print("The RMSE = " + str((metrics.mean_squared_error(y, preds, squared=False))))
    print("The R2 = " + str((metrics.r2_score(y, preds))))
    n = len(X)
    r2 = 1 - (sse/null_sse)
    r2adj_top = ((1 - r2)*(n - 1))
    r2adj_bot = (n - k - 1)
    r2adj = 1- (r2adj_top / r2adj_bot)
    print("The R2ADJ = " + str((r2adj)))

In [ ]:
return_reg_metrics(X, y, 3)

In [ ]:
'Garage Cars', 'Mas Vnr Area', 'Bsmt Qual', '1st Flr SF', 'Full Bath', 'Kitchen Qual', 'Fireplace Qu', 'Garage Finish', 'Garage Cars',

In [ ]:
lr.coef_