In [1]:
import pandas as pd

In [3]:
test = pd.read_csv('./first_submission.csv')

In [4]:
test.head()

    Id      SalePrice
0  109  173326.067090
1  544  253438.744244
2  153  140531.213952
3  318  132033.392627
4  255  128647.505102

In [5]:
test.shape

(2049, 2)